.results {
    width: 100%;
    min-height: calc(100vh - 60px);
    max-height: auto;
    margin-top: 60px;
    background: #323232;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results__header {
    font-size: 36px;
    font-family: Roboto;
    letter-spacing: 6px;
    margin-top: 30px;
    text-align: center;
}

.results__container {
    width: 600px;
    min-height: 400px;
    max-height: auto;
    background: #ffd756;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;   
}

.results__question {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    color: #000000;    
}

.results__option-name {
    width: 100%;
    padding-left: 30px;
    height: 50px;
    font-size: 22px;
    border-bottom: 2px solid #b1b874;
    box-sizing: border-box;
    border-top: 2px solid #b1b874;
    display: flex;
    align-items: center;
    padding-right: 15px;
    justify-content: space-between;
    color: #000000;
}

.results__group {
    width: 100%;
}

.option-name__votes {
    font-size: 14px;
}

.results__option-bar {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.results__option-bar:last-of-type {
    border-bottom: 2px solid #b1b874;
}

.option-bar__bar {
    position: absolute;
    background: red;
    top:0;
    bottom: 0;
    left: 0;
}

.option-bar__percentage {
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    padding-right: 15px;
}

.results__info {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-around;
}

.results__total-votes {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.results__total-votes span {
    font-size: 16px;
    font-weight: 500;
}

.results__vote-btn {
    width: 150px;
    height: 40px;
    background: #ca302c;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .results__wrapper {
        width: 100%;
    }
    .results__container {
        width: 100%;
    }
}